[submodule "twigs/vim/files/.vim/pack/color-themes/opt/onedark.vim"]
	path = twigs/vim/files/.vim/pack/color-themes/opt/onedark.vim
	ignore = dirty
	url = https://github.com/joshdick/onedark.vim
[submodule "twigs/vim/files/.vim/pack/plugins/opt/vim-visual-multi"]
	path = twigs/vim/files/.vim/pack/plugins/opt/vim-visual-multi
	ignore = dirty
	url = https://github.com/mg979/vim-visual-multi
[submodule "twigs/vim/files/.vim/pack/plugins/opt/SimpylFold"]
	path = twigs/vim/files/.vim/pack/plugins/opt/SimpylFold
	ignore = dirty
	url = https://github.com/tmhedberg/SimpylFold
[submodule "twigs/vim/files/.vim/pack/plugins/opt/vim-buftabline"]
	path = twigs/vim/files/.vim/pack/plugins/opt/vim-buftabline
	ignore = dirty
	url = https://github.com/ap/vim-buftabline
[submodule "twigs/vim/files/.vim/pack/plugins/opt/vim-sneak"]
	path = twigs/vim/files/.vim/pack/plugins/opt/vim-sneak
	ignore = dirty
	url = https://github.com/justinmk/vim-sneak
[submodule "twigs/vim_ansi_esc/files/.vim/pack/plugins/opt/AnsiEsc.vim"]
	path = twigs/vim_ansi_esc/files/.vim/pack/plugins/opt/AnsiEsc.vim
	ignore = dirty
	url = https://github.com/vim-scripts/AnsiEsc.vim
[submodule "twigs/vim_fileformats/files/.vim/pack/plugins/opt/ron.vim"]
	path = twigs/vim_fileformats/files/.vim/pack/plugins/opt/ron.vim
	ignore = dirty
	url = https://github.com/ron-rs/ron.vim
[submodule "twigs/vim_fileformats/files/.vim/pack/plugins/opt/rust.vim"]
	path = twigs/vim_fileformats/files/.vim/pack/plugins/opt/rust.vim
	ignore = dirty
	url = https://github.com/rust-lang/rust.vim
[submodule "twigs/vim_fzf/files/.vim/pack/plugins/opt/fzf"]
	path = twigs/vim_fzf/files/.vim/pack/plugins/opt/fzf
	ignore = dirty
	url = https://github.com/junegunn/fzf
[submodule "twigs/vim_fzf/files/.vim/pack/plugins/opt/fzf.vim"]
	path = twigs/vim_fzf/files/.vim/pack/plugins/opt/fzf.vim
	ignore = dirty
	url = https://github.com/junegunn/fzf.vim
[submodule "twigs/vim_git/files/.vim/pack/plugins/opt/vim-fugitive"]
	path = twigs/vim_git/files/.vim/pack/plugins/opt/vim-fugitive
	ignore = dirty
	url = https://github.com/tpope/vim-fugitive
[submodule "twigs/vim_git/files/.vim/pack/plugins/opt/vim-gitgutter"]
	path = twigs/vim_git/files/.vim/pack/plugins/opt/vim-gitgutter
	ignore = dirty
	url = https://github.com/airblade/vim-gitgutter
[submodule "twigs/vim_nerdtree/files/.vim/pack/plugins/opt/nerdtree"]
	path = twigs/vim_nerdtree/files/.vim/pack/plugins/opt/nerdtree
	ignore = dirty
	url = https://github.com/scrooloose/nerdtree
[submodule "twigs/vim_nerdtree/files/.vim/pack/plugins/opt/nerdtree-git-plugin"]
	path = twigs/vim_nerdtree/files/.vim/pack/plugins/opt/nerdtree-git-plugin
	ignore = dirty
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "twigs/vim_vim_lsp/files/.vim/pack/plugins/opt/asyncomplete.vim"]
	path = twigs/vim_vim_lsp/files/.vim/pack/plugins/opt/asyncomplete.vim
	ignore = dirty
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "twigs/vim_vim_lsp/files/.vim/pack/plugins/opt/asyncomplete-lsp.vim"]
	path = twigs/vim_vim_lsp/files/.vim/pack/plugins/opt/asyncomplete-lsp.vim
	ignore = dirty
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "twigs/vim_vim_lsp/files/.vim/pack/plugins/opt/vim-lsp"]
	path = twigs/vim_vim_lsp/files/.vim/pack/plugins/opt/vim-lsp
	ignore = dirty
	url = https://github.com/prabirshrestha/vim-lsp
