[submodule "twigs/vim_base/files/.vim/pack/color-themes/opt/onedark.vim"]
	path = twigs/vim_base/files/.vim/pack/color-themes/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "twigs/vim_base/files/.vim/pack/plugins/opt/vim-visual-multi"]
	path = twigs/vim_base/files/.vim/pack/plugins/opt/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "twigs/vim_base/files/.vim/pack/plugins/opt/SimpylFold"]
	path = twigs/vim_base/files/.vim/pack/plugins/opt/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "twigs/vim_base/files/.vim/pack/plugins/opt/vim-buftabline"]
	path = twigs/vim_base/files/.vim/pack/plugins/opt/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "twigs/vim_base/files/.vim/pack/plugins/opt/vim-sneak"]
	path = twigs/vim_base/files/.vim/pack/plugins/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "twigs/nvim_fileformats/files/.config/nvim/pack/nvim/start/ron.vim"]
	path = twigs/nvim_fileformats/files/.config/nvim/pack/nvim/start/ron.vim
	url = https://github.com/ron-rs/ron.vim
[submodule "twigs/nvim_fileformats/files/.config/nvim/pack/nvim/start/rust.vim"]
	path = twigs/nvim_fileformats/files/.config/nvim/pack/nvim/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "twigs/nvim_git/files/.config/nvim/pack/nvim/start/vim-fugitive"]
	path = twigs/nvim_git/files/.config/nvim/pack/nvim/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "twigs/nvim_git/files/.config/nvim/pack/nvim/start/vim-gitgutter"]
	path = twigs/nvim_git/files/.config/nvim/pack/nvim/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "twigs/nvim_wgsl/files/.config/nvim/pack/nvim/start/wgsl.vim"]
	path = twigs/nvim_wgsl/files/.config/nvim/pack/nvim/start/wgsl.vim
	url = https://github.com/DingDean/wgsl.vim
[submodule "twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/nvim-cmp"]
	path = twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/cmp-nvim-lsp"]
	path = twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/cmp-vsnip"]
	path = twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/vim-vsnip"]
	path = twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/actions-preview.nvim"]
	path = twigs/nvim_lsp_config/files/.config/nvim/pack/nvim/start/actions-preview.nvim
	url = https://github.com/aznhe21/actions-preview.nvim
[submodule "twigs/nvim_dap/files/.config/nvim/pack/nvim/start/nvim-dap"]
	path = twigs/nvim_dap/files/.config/nvim/pack/nvim/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "twigs/jdtls/files/.config/nvim/pack/nvim/start/jdtls"]
	path = twigs/jdtls/files/.config/nvim/pack/nvim/start/jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "twigs/nvim_nui/files/.config/nvim/pack/nvim/start/nui.nvim"]
	path = twigs/nvim_nui/files/.config/nvim/pack/nvim/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "twigs/nvim_neotree/files/.config/nvim/pack/nvim/start/neo-tree.nvim"]
	path = twigs/nvim_neotree/files/.config/nvim/pack/nvim/start/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim
[submodule "twigs/nvim_web_devicons/files/.config/nvim/pack/nvim/start/nvim-web-devicons"]
	path = twigs/nvim_web_devicons/files/.config/nvim/pack/nvim/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "twigs/nvim_snacks_nvim/files/.config/nvim/pack/nvim/start/snacks.nvim"]
	path = twigs/nvim_snacks_nvim/files/.config/nvim/pack/nvim/start/snacks.nvim
	url = https://github.com/folke/snacks.nvim
[submodule "twigs/nvim_plenary_nvim/files/.config/nvim/pack/nvim/start/plenary.nvim"]
	path = twigs/nvim_plenary_nvim/files/.config/nvim/pack/nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "twigs/nvim_codecompanion_nvim/files/.config/nvim/pack/nvim/start/codecompanion.nvim"]
	path = twigs/nvim_codecompanion_nvim/files/.config/nvim/pack/nvim/start/codecompanion.nvim
	url = https://github.com/olimorris/codecompanion.nvim
[submodule "twigs/copilot/files/.config/nvim/pack/nvim/start/copilot.vim"]
	path = twigs/copilot/files/.config/nvim/pack/nvim/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "twigs/gemini/files/.config/nvim/pack/nvim/start/gemini.nvim"]
	path = twigs/gemini/files/.config/nvim/pack/nvim/start/gemini.nvim
	url = https://github.com/kiddos/gemini.nvim
